<html>

<head>
<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
</head>

<body>
<div ng-app="" ng-controller="customersController"> 

	<table style="text-align:center;"> <!-- matrix control and data-->
	    <tr>
	        <td><button ng-click="getSingle()">E</button></td> <td><button ng-click="extendX()">-</button></td>
	    </tr>
        <tr>
            <td><button ng-click="extendY()">|</button></td> <td>+</td>
            <td ng-repeat="x in m1[0]  track by $index">---</td>
        </tr>
       <tr ng-repeat="y in m1 track by $index"><td></td><td>|</td>
           <td ng-repeat="x in y  track by $index"><input type="text" ng-model="y[$index]" size=1 style="text-align:center;border: 0px solid;"></td></tr>
	</table>

Response: {{ error }}
<ul><li ng-repeat="x in m1  track by $index">{{x}}</li></ul>

<script>
function customersController($scope,$http) { 
	$scope.m1=[[0,0],[0,0]];
    $scope.getSingle=function() {
		$http.get("http://localhost:8080/matrixREST-jersey/matrixREST-jersey/jersey/get1")
		  .success(function(data, status, headers, config) { $scope.m1= data.value; $scope.error = "OK";})
		  .error(function(data, status, headers, config) {$scope.error = status;});
    }
    $scope.extendX = function(){l=$scope.m1[0].length; for(i=0; i<$scope.m1.length; i++) $scope.m1[i][l]=0;}
    $scope.extend = function(){row=[0,0];$scope.m1[$scope.m1.length]=row;}
    $scope.extendY = function(){row=[0,0];for(i=0; i<$scope.m1[0].length; i++) row[i]=0;$scope.m1[$scope.m1.length]=row;}
}
</script>

</body>
</html>